<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="overhead.caeii2017">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.ActivitiesActivity"
            android:label="ActivitiesActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="NewsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".InformacionUtil.TouristGuideActivity"
            android:label="TouristGuideActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".QuienesSomos.AboutUsActivity"
            android:label="AboutUsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".QuienesSomos.MisionActivity"
            android:label="MisionActivity"
            android:parentActivityName=".QuienesSomos.AboutUsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuienesSomos.AboutUsActivity" />
        </activity>
        <activity
            android:name=".QuienesSomos.AareiiActivity"
            android:label="AareiiActivity"
            android:parentActivityName=".QuienesSomos.AboutUsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuienesSomos.AboutUsActivity" />
        </activity>
        <activity
            android:name=".QuienesSomos.DelegationsActivity"
            android:label="DelegationsActivity"
            android:parentActivityName=".QuienesSomos.AboutUsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuienesSomos.AboutUsActivity" />
        </activity>
        <activity
            android:name=".QuienesSomos.ContactActivity"
            android:label="ContactActivity"
            android:parentActivityName=".QuienesSomos.AboutUsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuienesSomos.AboutUsActivity" />
        </activity>
        <activity
            android:name=".Actividades.PilarsActivity"
            android:label="PilarsActivity"
            android:parentActivityName=".Actividades.ActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".Actividades.PilarsItemActivity"
            android:label="PilarsItemActivity"
            android:parentActivityName=".Actividades.PilarsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.PilarsActivity" />
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="ScheduleActivity"
            android:parentActivityName=".Actividades.ActivitiesActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.ActivitiesActivity" />
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Actividades.TechnicalVisitisActivity"
            android:label="TechnicalVisitisActivity"
            android:parentActivityName=".Actividades.ActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".Actividades.VisitItem"
            android:label="VisitItem"
            android:parentActivityName=".Actividades.TechnicalVisitisActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.TechnicalVisitisActivity" />
        </activity>
        <activity android:name=".Util.AlarmActivity" />
        <activity
            android:name=".Actividades.SpeakersActivity"
            android:label="SpeakersActivity"
            android:parentActivityName=".Actividades.ActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".Actividades.ConferencesActivity"
            android:label="ConferencesActivity"
            android:parentActivityName=".Actividades.ActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".Actividades.SpeakerItemActivity"
            android:label="SpeakerItemActivity"
            android:parentActivityName=".Actividades.SpeakersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.SpeakersActivity" />
        </activity>
        <activity
            android:name=".Sponsors.SponsorsActivity"
            android:label="SponsorsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Actividades.ScheduleDaysActivity"
            android:parentActivityName=".Actividades.ActivitiesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.ActivitiesActivity" />
        </activity>
        <activity
            android:name=".InformacionUtil.InterestLinkActivity"
            android:label="InterestLinkActivity"
            android:parentActivityName=".InformacionUtil.TouristGuideActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InformacionUtil.TouristGuideActivity" />
        </activity>
        <activity
            android:name=".InformacionUtil.PlaneActivity"
            android:label="PlaneActivity"
            android:parentActivityName=".InformacionUtil.TouristGuideActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InformacionUtil.TouristGuideActivity" />
        </activity>
        <activity
            android:name=".Actividades.PilarOptionsActivity"
            android:label="PilarOptionsActivity"
            android:parentActivityName=".Actividades.PilarsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.PilarsActivity" />
        </activity>
        <activity
            android:name=".Actividades.PilarConferencesActivity"
            android:label="PilarConferencesActivity"
            android:parentActivityName=".Actividades.PilarsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.PilarsActivity" />
        </activity>
        <activity
            android:name=".Actividades.ConferenceExoActivity"
            android:label="PilarConferencesActivity"
            android:parentActivityName=".Actividades.PilarsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.PilarsActivity" />
        </activity>

        <activity
            android:name=".Actividades.VisitsOpcionActivity"
            android:label="VisitsOpcionActivity"
            android:parentActivityName=".Actividades.TechnicalVisitisActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.TechnicalVisitisActivity" />
        </activity>

        <activity
            android:name=".Actividades.VisitDescriptionActivity"
            android:label="VisitDescriptionActivity"
            android:parentActivityName=".Actividades.TechnicalVisitisActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.TechnicalVisitisActivity" />
        </activity>
        
    </application>

</manifest>